.i1 {
    width: 500px;
    height: 300px;
    margin-left: 650px;
    border-style: double;
    border-width: 15px;
    border-color: aliceblue;
    border-radius: 10px;

}

.i2 {
    width: 500px;
    height: 300px;
    margin-left: 650px;
    border-style: double;
    border-width: 15px;
    border-color: aliceblue;
    border-radius: 10px;
}

h1 {
    text-align: center;
    color: aliceblue;
}

h2 {
    text-align: center;
    color: aliceblue;
}

h3{
    text-align: center;
}

body{
    background-color: #1e6fe9;
}


.i3{
    width: 500px;
    height: 300px;
    margin-left: 650px;
    border-style: double;
    border-width: 15px;
    border-color: aliceblue;
    border-radius: 10px;

}

.i4{
    width: 500px;
    height: 300px;
    margin-left: 650px;
    border-style: double;
    border-width: 15px;
    border-color: aliceblue;
    border-radius: 10px;
}

.i5{
    width: 500px;
    height: 300px;
    margin-left: 650px;
    border-style: double;
    border-width: 15px;
    border-color: aliceblue;
    border-radius: 10px;
}