.i1 {
    width: 500px;
    height: 300px;
    margin-left: 650px;
    border-style: double;
    border-width: 15px;
    border-color: aliceblue;
    border-radius: 10px;

}

.i2 {
    width: 500px;
    height: 300px;
    margin-left: 650px;
    border-style: double;
    border-width: 15px;
    border-color: aliceblue;
    border-radius: 10px;
}

h1 {
    text-align: center;
    color: aliceblue;
}

h2 {
    text-align: center;
    color: aliceblue;
}

h3{
    text-align: center;
}

body{
    background-color: #1e6fe9;
}


.i3{
    width: 500px;
    height: 300px;
    margin-left: 650px;
    border-style: double;
    border-width: 15px;
    border-color: aliceblue;
    border-radius: 10px;

}

.i4{
    width: 500px;
    height: 300px;
    margin-left: 650px;
    border-style: double;
    border-width: 15px;
    border-color: aliceblue;
    border-radius: 10px;
}

.i5{
    width: 500px;
    height: 300px;
    margin-left: 650px;
    border-style: double;
    border-width: 15px;
    border-color: aliceblue;
    border-radius: 10px;
}

.i6{
    width: 500px;
    height: 300px;
    margin-left: 650px;
    border-style: double;
    border-width: 15px;
    border-color: aliceblue;
    border-radius: 10px;
}

.i7{
    width: 600px;
    height: 300px;
    margin-left: 600px;
    border-style: double;
    border-width: 15px;
    border-color: aliceblue;
    border-radius: 10px;
}

.i8{
    width: 500px;
    height: 400px;
    margin-left: 650px;
    border-style: double;
    border-width: 15px;
    border-color: aliceblue;
    border-radius: 10px;
}

.i9{
    width: 450px;
    height: 500px;
    margin-left: 690px;
    border-style: double;
    border-width: 15px;
    border-color: aliceblue;
    border-radius: 10px;   
}


.i10{
     width: 500px;
    height: 400px;
    margin-left: 650px;
    border-style: double;
    border-width: 15px;
    border-color: aliceblue;
    border-radius: 10px;
}

.i11{
     width: 500px;
    height: 400px;
    margin-left: 650px;
    border-style: double;
    border-width: 15px;
    border-color: aliceblue;
    border-radius: 10px;
}

.i12{
     width: 500px;
    height: 490px;
    margin-left: 650px;
    border-style: double;
    border-width: 15px;
    border-color: aliceblue;
    border-radius: 10px;
}

.i13{
    width: 500px;
    height: 300px;
    margin-left: 650px;
    border-style: double;
    border-width: 15px;
    border-color: aliceblue;
    border-radius: 10px;
}

.i14{
     width: 500px;
    height: 300px;
    margin-left: 650px;
    border-style: double;
    border-width: 15px;
    border-color: aliceblue;
    border-radius: 10px;
}